<h1>Add a new song to your favorite artist!</h1>

<%= form_for [@artist, @artist.songs.new] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Please enter name", id: "new-song-name"%>

<div id="<%= @artist.id %>">
  <button type="button" id="add-new-song" onclick="submitSong()">Add song ajax</button>
</div>
<% end %>
